.home-div {
    background-image: url("https://www.startupdonut.co.uk/sites/default/files/production%20image/languageschool.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    height: 600px;
}